body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
}

#display {
    width: 100%;
    height: 70px;              
    font-size: 34px;
    text-align: right;
    padding: 15px;               
    margin-bottom: 20px;         
    border-radius: 15px;
    border: none;
    background: #009688;         
    color: #d7e7e9ff;              
    box-sizing: border-box;      

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    opacity: 0.8;
}

.number {
    background-color: #666;
    color: #fff;
}


.operator {
    background-color: #90e0ef;  
    color: #003144;             
}

.operator:hover {
    background-color: #72d3e6;  
}

.operator:active {
    background-color: #56c5d6; 
}


.equals {
    background-color: #90e0ef; 
    color: #003144;
    grid-column: span 2;
}

.equals:hover {
    background-color: #72d3e6;
}

.equals:active {
    background-color: #56c5d6;
}

